<html>
  <head>
    <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
              <meta name="description" content="">
                   <meta name="author" content="">
    <title> CDesign4</title>
    <link rel="stylesheet" href="css/style.css">
  
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,       700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,  700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="css/creative.min.css" rel="stylesheet">
    <script src="js/anime.min.js"></script>
 
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">                
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Programmable Blocks</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data- target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle   navigation">
          <span class="navbar-toggler-icon"></span>  
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Programmable Blocks</strong>
            </h1>
            <hr>
            <div id="lineDrawing"> <svg viewBox="0 0 340 100">
                      
                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1" class="lines">
                <path d="M10 95V20H25V95H10" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M10,20 H40 C70 20 70 65 40 65 H10V50H40 C50 50 50 35 40 35 H10V20" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <!-- 143 448 
                <path d="M10 80V20H20Q30 35 20 50H10" stroke-dasharray="316.85528564453125" style="stroke-dashoffset: 316.855px;"></path>
                -->
                <!--<path d="M58 80V50.12C57.7 41.6 51.14 35 43 35a15 15 0 0 0 0 30h7.5v15H43a30 30 0 1 1 0-60c16.42 0 29.5 13.23 30 29.89V80H58z" stroke-dasharray="316.85528564453125" style="stroke-dashoffset: 316.855px;"></path>
                -->
                <!-- B -->
                <path d="M65 95V20H80V95H65" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M65,20 H95 C125 20 125 65 95 65 H65V50H95 C105 50 105 35 95 35 H65V20" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M65,50 H95 C125 50 125 95 95 95 H65V80H95 C105 80 105 65 95 65 H65V50" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <!--
                <path d="M58 80V49.77C58.5 33.23 71.58 20 88 20 a30 30 0 0 1 30 30 v30 h-15 V50 a15 15 0 0 0-15-15 c-8.14 0-14.7 6.6-15 15.12V80H58zm75 0 V20 h-15 v60 h15z" stroke-dasharray="441.1739501953125" style="stroke-dashoffset: 441.174px;"></path>
                -->
                
                <!-- L -->
                <path d="M120 95V20H135V95H120" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M120 95V80H175V95H120" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                
                <!-- O -->
                <path d="M175 47.5 V67.5 C175 105 230 105 230 67.5 V47.5 C230 15 175 15 175 47.5" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M190 47.5 V67.5 C190 85 215 85 215 67.5 V47.5 C215 35 190 35 190 47.5" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                
                <!-- C -->
                <path d="M285 20 H250 C225 20 225 95 250 95 H285 V80 H255 C245 80 245 35 255 35 H285V20" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                
                <!-- K -->
                <path d="M285 95V20H300V95H285" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M340 20H325 Q305 41.25 285 57.5 V72.5 Q315 46.25 340 20" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <path d="M285 42.5 Q312.5 68.75 340 95 H325 Q305 76.25 285 57.5" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                <!--
                <path d="M118 80V49.77C118.5 33.23 131.58 20 148 20a30 30 0 0 1 30 30v30h-15V50a15 15 0 0 0-15-15c-8.14 0-14.7 6.6-15 15.12V80h-15zm-7.5-60a7.5 7.5 0 1 1-7.48 8v-1c.25-3.9 3.5-7 7.48-7z" stroke-dasharray="338.3053894042969" style="stroke-dashoffset: 338.305px;"></path>
                -->
                <!--
                <path d="M133 65a15 15 0 0 1-15-15v-7.5h-15V50a30 30 0 0 0 30 30V65zm30 15V49.77C163.5 33.23 176.58 20 193 20a30 30 0 0 1 30 30v30h-15V50a15 15 0 0 0-15-15c-8.14 0-14.7 6.6-15 15.12V80h-15z" stroke-dasharray="406.8699035644531" style="stroke-dashoffset: 406.87px;"></path>
                -->
                <!--
                <path d="M238 65a15 15 0 0 1 0-30c8.1 0 14.63 6.53 15 15h-15v15h30V49.89C267.5 33.23 254.42 20 238 20a30 30 0 0 0 0 60V65z" stroke-dasharray="301.8561706542969" style="stroke-dashoffset: 301.856px;"></path>
                -->
                <!--
                <path d="M260.48 65a7.5 7.5 0 1 1-7.48 8v-1c.26-3.9 3.5-7 7.48-7z" stroke-dasharray="47.128875732421875" style="stroke-dashoffset: 47.1289px;"></path>
                -->
                <!--
                <path d="M270 80V20H285v60H270" stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                -->
                </g>
              </svg> 
            </div>
            <script>
            var lineDrawing = anime({
                targets: '#lineDrawing .lines path',
                  strokeDashoffset: [anime.setDashoffset, 0],
                    easing: 'easeInOutSine',
                      duration: 1500,
                        delay: function(el, i) { return i * 250 },
                          direction: 'alternate',
                            loop: true
            });
            </script>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">
            You can simply do programming with blocks. Just make fun with blocks and take a picture and upload!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out
              More</a>
          </div>
        </div>
      </div>
    </header>
   
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <p class="text-faded mb-4">
              Just take a picture and upload. That's it!</p>
            <hr class="light my-4">
            <form method='post' action='/upload' enctype='multipart/form-data'>
              <input class="btn btn-light" type='file' name='image'/>
              <hr class="light my-4">
              <input type='hidden' id='level' name='level' value=<%=maze_level%> />
              <input href="#about" class="btn btn-light" type='submit' />
            </form>
            <!--
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            -->
            <hr class="light my-4">
            <h3>
              <% if(formula=="") { %>
              <% for(var i = 0; i < num_lines; i++) { %> 
              <h2 class="section-heading text-white"> #<%= i %> :  
                <%= result.split('\n')[i] %> 
                </h2> 
                <% } %> 
              <% } %>
              <% if(formula!="") { %>
              <% for(var i = 0; i < num_lines; i++) { %> 
              <h2 class="section-heading text-white"> 입력한 식 :   
                <%= formula %> 
                </h2> 
                <% } %> 
              <% } %>

 
              

            </h3>

            <h3 style="display:none" id="recognition_result" class="section-heading text-white">
              <%if(formula=="") { %> <%=result.split(" ")[0]%><% } %>
            </h3> 
          </div>
        </div>
      </div>
    </section>
    <section id="search">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"> Search Result</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
        <gcse:search> <%= result %> </gcse:search>
          <script>
          (function() {
            var cx = '008717638860159009482:d-9pkeoqui8';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
            window.onload = function(){
            document.getElementById('gsc-i-id1').value = document.getElementById('recognition_result').innerHTML.replace("\n","").replace(/ /g, "") };
          })();
          </script>
        </div>
      </div>
      <div style="margin-top:80" class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"> Calculation </h2>
            <hr class="my-4">
            <p id="calc_result">
            <h3>
            <% if(calcul_result==""){ %>
            N/A 
            <% } else { %>
            <%= calcul_result %>
            <% } %>
            </h3>
            </p>
        </div>
      </div>

    </section>
    <section class="bg-primary" id = "game">
      <div class="container col-sm-12">
        <div class="row">
          <div style="padding:0" class="col-lg-12 text-center">
            <h2 class="text-white section-heading"> Maze </h2>
            <hr class="light my-4">

            <div id = "maze_timeline" style="margin:auto;width:350px;" class="example">
              <a style="margin-bottom:10" href="#game" class="btn btn-light"  id="playButton" autofocus/>Play</a>
              <% for(var i = 0; i < 7; i++) { %>
              <div></div> 
              <div id="cell-<%=i*7 %>" style="" class="box small maze-cell"> </div>
              <div id="cell-<%=i*7+1 %>" style="" class="box small maze-cell"></div>
              <div id="cell-<%=i*7+2 %>" style="" class="box small maze-cell"> </div>
              <div id="cell-<%=i*7+3 %>" style="" class="box small maze-cell"> </div>
              <div id="cell-<%=i*7+4 %>"  style="" class="box small maze-cell"> </div>
              <div id="cell-<%=i*7+5 %>"  style="" class="box small maze-cell"> </div>
              <div id="cell-<%=i*7+6%>" style="" class="box small maze-cell"> </div>
               <% } %>
               <% for(var i = 0; i < total_ins.length; i++) { %>
               <div style="display:none" id=hint-<%=i%> ><%= total_ins[i] %></div>
               <% } %>
                <div style="display:none" name="hint-numlines" id=<%=num_lines %> ><%=num_lines %></div>
              <a style="margin-top:20" href="#game" class="btn btn-light"  id="nextButton"/>Next Game</a>
              <div id="finished" style="margin-top:20; display:none;" class="alert alert-success">
                <strong>통과!</strong> Next 버튼을 눌러 다음 레벨로 넘어가세요.
              </div>
 
              <div id="not_finished" style="margin-top:20; display:none;" class="alert alert-danger">
                  <strong>에러!</strong> 현재 레벨을 먼저 통과하세요.
              </div>
            
              <hr class="light my-4">  
            </div>
          </div> <!-- end of col-lg-12 -->
        </div> <!-- end of row -->
        <div style="text-align:center" class="row">
          <h2 style="margin:auto" id="" class="text-white section-heading"> LEVEL <span id="show_level">1</span></h2> 
        </div>
      </div>
            <script type="text/javascript">
                var cur_x = 0;
                var cur_y = 0;
                var map_width = 7;
                var tree_map = [[1,0],[1,1], [1,2], [1,3], [2,3],[3,3],[4,3],[5,3],[6,2],[1,5],[2,5],[3,5],[4,5],[5,5],[5,6],]; 
                var tree_map_2 = [[0,2],[1,1], [2,1], [3,1], [5,1],[6,1],[3,2],[3,3],[3,4],[3,5],[3,6],[5,2],[5,3],[5,5],[5,6],]; 
                var tree_img = "<img class=\"img2\" style=\"margin:auto; border-width:0; width:45px; hegiht:45px;\" src=\'/imgs/trees\' >"; 
                var rabbit_img = "<img class=\"img1\" style=\"margin:auto;border-width:0;width:45px; height:45px;\" src = \'/imgs/rabbit\' >";
                var dog_img = "<img class=\"img1\" style=\"margin:auto;border-width:0;width:45px; height:45px;\" src = \'/imgs/dog\' >";
                var dog_food_img = "<img class=\"img4\" style=\"margin:auto;border-width:0;width:45px; height:45px;\" src = \'/imgs/dog_food\' >";
                 //total_ins[0]; 
                var finished = 0;
                
                var tree_map_2d = [];
                function draw_map(tree_map)
                {
                  var lion_img = "<img class=\"img3\" style=\"margin:auto;border-width:0;width:45px; height:45px;\" src = \'/imgs/lion\' >";
            

                  for(var i = 0 ; i < map_width; i++)
                  {
                    var row = [];
                    for(var j = 0; j < map_width; j++)
                    {
                      row.push(0);
                      var num = i* 7 + j;
                      document.getElementById('cell-'+num).innerHTML = "";
                    }
                    tree_map_2d.push(row);
                  }
                  document.getElementById('cell-0').innerHTML=dog_img;
                  document.getElementById('cell-42').innerHTML=lion_img;
                  document.getElementById('cell-48').innerHTML=dog_food_img;
               
                  for(var i = 0; i < tree_map.length ; i++)
                  {
                    tree_map_2d[tree_map[i][0]][tree_map[i][1]] = 1;
                    var num = tree_map[i][1]* 7 + tree_map[i][0];
                    document.getElementById('cell-'+num).innerHTML = tree_img;
                  }
                }
                var level = document.getElementById('level').value;
                if(level=='/')
                  draw_map(tree_map);
                else if(level==2)
                  draw_map(tree_map_2);
                else
                {
                  draw_map(tree_map_2); //should be fixed
                }
                function moveDirN(dir, n, basicTimeline)
                {
                  console.log("move");
                  //up down left right 0 1 2 3 
                  if(dir == 0)
                  {
                     
                    for(var i = 0; i < n; i++){
                      if(tree_map_2d[cur_x][cur_y-1] == 1)
                      {
                        return -1;
                      }
                    if(cur_y==0)
                      return -1;


                      basicTimeline.add({
                        targets: '#maze_timeline .img1',
                        translateX: 50*(cur_x),
                        translateY: 50*(--cur_y),
                        easing: 'easeOutExpo'
                      });
                    }
                  }
                  else if(dir == 1)
                  {  
                    for(var i = 0; i < n; i++)
                    {
                      if(cur_y == 6)
                        return -1;
                      if(tree_map_2d[cur_x][cur_y+1] == 1)
                      {
                        return -1;
                      }


                      basicTimeline.add({
                        targets: '#maze_timeline .img1',
                        translateX: 50*(cur_x),
                        translateY: 50*(++cur_y),
                        easing: 'easeOutExpo'
                      });

                    }
                  }
                  else if(dir == 2)
                  {
                    for(var i = 0; i < n; i++)
                    {
                      if(cur_x == 0)
                        return -1;
                      if(tree_map_2d[cur_x-1][cur_y] == 1)
                      {
                        return -1;
                      }

                      basicTimeline.add({
                        targets: '#maze_timeline .img1',
                        translateX: 50*(--cur_x),
                        translateY: 50*(cur_y),
                        easing: 'easeOutExpo'
                      });
                    }
                  }
                  else if(dir == 3)
                  {
                    console.log(cur_x+1);
                    console.log(cur_y);
                    for(var i = 0; i < n; i++)
                    {
                      if(tree_map_2d[cur_x+1][cur_y] == 1)
                      {
                        return -1;
                      }
                      basicTimeline.add({
                        targets: '#maze_timeline .img1',
                        translateX: 50*(++cur_x),
                        translateY: 50*(cur_y),
                        easing: 'easeOutExpo'
                      });
                    }
                  }
                }
                var instructions = [];
                var num_lines = document.getElementsByName('hint-numlines')[0].id;
                for(var i = 0; i < num_lines; i++)
                {  
                  var ins = document.getElementById('hint-'+i).innerHTML;
                  instructions.push(ins.toUpperCase());
                }
                document.getElementById('playButton').onclick = function(e){
                  var basicTimeline = anime.timeline();
                  for(var i = 0; i < num_lines; i++)
                  {  
                    var cur_ins = instructions[i].split(",");
                    console.log(cur_ins);
                    
                    if(cur_ins[1] == "UP")
                      moveDirN(0, cur_ins[2],basicTimeline);
                    if(cur_ins[1] == "DOWN")
                      moveDirN(1, cur_ins[2],basicTimeline);
                    if(cur_ins[1] == "LEFT")
                      moveDirN(2, cur_ins[2],basicTimeline);
                    if(cur_ins[1] == "RIGHT")
                      moveDirN(3, cur_ins[2],basicTimeline);
                  }
                  if(cur_x == 6 && cur_y==6) //if success!
                  {
                    var promise = basicTimeline.finished.then(logFinished);

                    function logFinished() {
                      finished = 1;
                    //    finishedLogEl.value = 'Promise resolved';
                    document.getElementById('finished').style.display='block';
                    document.getElementById('not_finished').style.display='none';
                          // Rebind the promise, since this demo can be looped.
                    /*      
                    setTimeout(function() {
                                promise = finishedPromise.finished.then(logFinished);
                                  });
                    */
                    }
                  }
                };
                document.getElementById('nextButton').onclick = function(e){
                  if(finished == 1)
                  {
                    tree_map_2d=[];   
                    document.getElementById('finished').style.display='none';
                    if(level=='/')
                    { 
                      document.getElementById('show_level').innerHTML=2;
                      document.getElementById('level').value=2;
                      level = 2;
                      draw_map(tree_map_2);
                    }
                    else
                    {
                      document.getElementById('show_level').innerHTML=++level;
                      document.getElementById('level').value=level;
                      draw_map(tree_map_2); // should be fixed
                    }
                    finished = 0;
                    cur_x = 0;
                    cur_y = 0;
                  }
                  else
                  {
                    document.getElementById('not_finished').style.display='block';
                  }
                };
                /* 
                document.getElementById('playButton').onclick = function(e){
                  move('.img1')
                  .translate(50,0)
                  .delay('2s')
                  .end();
                  sleepFor(1000);
                  move('.img1')
                  .translate(0,100)
                  .delay('2s')
                  .end();
                };*/
              </script>
     <!-- 
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"> Maze </h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <canvas style="margin:auto" id="myCanvas" width="360" height="360">
            <table>
              <tr> <td>asfd</td></tr>
              <tr> <td>asdf</td></tr>
            </table>
          </canvas>
          <script src="js/game.js">
          </script>
          <script>
          </script>
        </div>
      </div>
      -->
    </section>
    
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-lg-4 col-sm-6">
            <a
          class="portfolio-box"
          href="img/portfolio/fullsize/5.jpg">
              <img
          class="img-fluid"
          src="img/portfolio/thumbnails/5.jpg"
          alt="">
              <div
                class="portfolio-box-caption">
                <div
                  class="portfolio-box-caption-content">
                  <div
                  class="project-category
                  text-faded">
                    Category
                  </div>
                  <div
                    class="project-name">
                    Project
                    Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"> Services </h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Sturdy Templates</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Ready to Ship</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Up to Date</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3
                sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted
              mb-0">You have to make
              your websites with love
              these days!</p>
            </div>
          </div>
        </div>
      </div>  
    </section>
    

      <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4"> Open source project!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://github.com/ghjeong12/pblock/">Download Now!</a>
      </div>
    </section>
    
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or  send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>N/A</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
            <a href="mailto:ghjeong12@gmail.com">ghjeong12@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->     
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
                                       
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script src="js/move.js"></script>
    <script src="js/anime.min.js"></script>
  </body>
</html>
